		<footer class="footer">
			<div class="footer__logo-box">
				<img class="footer__logo" src="img/Logo_Simple_Orig.svg" alt="CoRE Logo" >
			</div>
			<div class="footer__content">
				<ul class="footer__links">
					<a href="#" class="footer__link">gallery</a>
					<a href="#" class="footer__link">diaries</a>
					<a href="#" class="footer__link" onclick="turnOnModal(event, 'contacts')">contact</a>
					<a href="#" class="footer__link">apply</a>
				</ul>
				<p class="footer__copyright">
					Built by <span class="footer__copyright-link">yu xuan wu</span>. <br\>Copyright © by <span class="footer__copyright-link">yu xuan wu</span>.
				</p>
			</div>
		</footer>
	</body>
</html>
