.nav {
	position: absolute;
	z-index: 1000;
	height: 8rem;
	width: 100%;
	display: flex;
	justify-content: space-around; // TODO: change to exact side margins
	align-items: center;
	margin-top: 5.5rem;
	text-transform: uppercase;
	letter-spacing: 1rem;
	text-align: center;

	&__link:link,
	&__link:visited {
		color: $color-white;
		padding: .6rem 0 .6rem 1rem;
		width: 18rem;

		font-size: 1.4rem;

		text-decoration: none;
		text-align: center;
	}

	&__link--button {
		border: 2px solid $color-primary;
		border-radius: 2px;	
		padding-left: 1rem;
	}

	&__logo-box {
	}

	&__logo {
		width: 30rem;
	}

	@include respond(phone) {
		display: none;
	}
}