@font-face {
	font-family: 'jost';
	src: url('../Jost-400-Book.ttf');
}

body {
	font-family: 'jost', sans-serif;
	line-height: 1.5;
	color: $color-black;
}

// Use em instead of rem for text so they can be adjusted as well

.heading1 {
	font-size: 4em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 4.5rem;
	&--primary {

	}

	&--secondary {
		color: $color-primary;
	}
}

.heading2 {
	font-size: 3.4em;
	font-weight: 400;
	letter-spacing: 4px;
}

.heading3 {
	font-size: 2.2em;
	font-weight: 400;
}

.heading4 {
	font-size: 1.7em;
	font-weight: 400;
}

.paragraph {
	font-size: 1.6em;
}
