<% include partials/header %>
<header class="header">
	<div class="header__background"></div>
	<div class="header__headings">
		<h1 class="heading1 heading1--primary">we are</h1>
		<h1 class="heading1 heading1--secondary">the future.</h1>
	</div>
	<div class="header__cta-container">
		<h4 class="heading4"><span class="u-color-primary">CO</span>MPUTERS, <span class="u-color-primary">R</span>OBOTICS, and <span class="u-color-primary">E</span>NGINEERING</h4>
		<br/>
		<h4 class="heading4">Binghamton University's own technology focused <br/>living-learning community.</h4>
	</div>
</header>

<main>
<section class="section-about">
	<h2 class="heading2 u-color-primary-dark u-margin-bottom-sm">We are...</h2>
	<div class="about__container">
		<div class="about__texts">
			<h4 class="heading4 u-color-primary-dark">...a diverse community of motivated individuals.</h4>
			<p class="paragraph">
				CoRE is a special interest housing community with a collection of students that share common interests in <span class="u-color-primary-dark">Co</span>mputers, <span class="u-color-primary-dark">R</span>obotics, and <span class="u-color-primary-dark">E</span>ngineering. Together, we create an awesome and diverse student body with majors ranging from English and Geology to Computer Science and Mechanical Engineering.
			</p>
			<br/>
			<h4 class="heading4 u-color-primary-dark">...really friendly!</h4>
			<p class="paragraph u-margin-bottom-sm">
				Why live on CoRE? Well, for starters, you get to live with people that are just like you! We all like the same things, share commons interests, and we can guarantee you will be making friends right away. Our residential floor is the most social and tight-knit floor on campus, hands down. Visitors are often shocked to see how social and friendly our floor really is. 
			</p>
			<p class="paragraph">
				So if you like working with technology, and you want to have an impact around campus, CoRE is the place for you. We strive to promote techonological awarenes in ourselves, and in our community, and living on CoRE will take your experiences at BU to a whole new level. So please, take some time and check out our awesome traditions and events, read a little about our history, or just fill out an application and learn more about joining CoRE.
			</p>
		</div>
		<div class="about__images">
			<img class="about__photo about__photo--1" src="../img/about-1.jpg" alt="A game of volleyball.">
			<img class="about__photo about__photo--2" src="../img/about-2.jpg" alt="A Python workshop.">
			<img class="about__photo about__photo--3" src="../img/about-3.jpg" alt="A project demo tabling.">
		</div>
	
	</div>
</section>
<section class="section-traditions">
	<h2 class="heading2">our events & traditions</h2>
	<div class="card">
		<div class="card__text card__text--right">
			<h3 class="heading3">CoRE Lore</h2>
			<h4 class="heading4 u-color-gray">March</h4>
			<p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur ipsam autem, architecto possimus deleniti dolorem facilis laboriosam sit. Magnam accusantium harum sunt quisquam odit. Soluta tempora sint similique maiores iste.</p>
		</div>
		<div class="card__background card__background--2"></div>
		<div class="card__layer1 card__layer1--right"></div>
		<div class="card__layer1-drop-shadow card__layer1-drop-shadow--right"></div>
		<div class="card__layer2 card__layer2--right"></div>	
	</div>
	<h3 class="heading4">CoRE was founded in ----, making us the oldest living-learning community in BU!</h3>
	<div class="card">
		<div class="card__text card__text--left">
			<h3 class="heading3">CoRE Hacks</h2>
			<h4 class="heading4 u-color-gray">March</h4>
			<p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. A molestias nemo asperiores quas, magni voluptatum, quisquam corporis culpa quam accusamus voluptates aut! Similique ab corrupti dignissimos cupiditate velit ipsam consequatur?</p>
		</div>
		<div class="card__background card__background--1"></div>
		<div class="card__layer1 card__layer1--left"></div>
		<div class="card__layer1-drop-shadow card__layer1-drop-shadow--left"></div>
		<div class="card__layer2 card__layer2--left"></div>	
	</div>
	<h3 class="heading4">History Point #2</h3>
	<div class="card">
		<div class="card__text card__text--right">
			<h3 class="heading3">CoreBQ</h2>
			<h4 class="heading4 u-color-gray">March</h4>
			<p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. A molestias nemo asperiores quas, magni voluptatum, quisquam corporis culpa quam accusamus voluptates aut! Similique ab corrupti dignissimos cupiditate velit ipsam consequatur?</p>
		</div>
		<div class="card__background card__background--3"></div>
		<div class="card__layer1 card__layer1--right"></div>
		<div class="card__layer1-drop-shadow card__layer1-drop-shadow--right"></div>
		<div class="card__layer2 card__layer2--right"></div>	
	</div>
</section>
<section class="section-traditions-sub">
	<h3 class="heading3 u-padding-top-md">...and a few more!</h4>
	<div class="card-sm-container">
		<div class="card-sm">
			<div class="card-sm__text">
				<h4 class="heading4">Escape the Room</h4>
				<h4 class="heading4 u-color-gray">October 28st</h4>
				<p class="paragraph">The gang builds an Escape the Room. It goes horribly wrong.</p>
			</div>
			<div class="card-sm__background card-sm__background--1"></div>
		</div>
		<div class="card-sm">
			<div class="card-sm__text">
				<h4 class="heading4">Python Workshops</h4>
				<h4 class="heading4 u-color-gray">October 12th, February 12th</h4>
				<p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
			</div>
			<div class="card-sm__background card-sm__background--2"></div>
		</div>
		<div class="card-sm">
			<div class="card-sm__text">
				<h4 class="heading4">Thing here</h4>
				<h4 class="heading4 u-color-gray">Date bois</h4>
				<p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
			</div>
			<div class="card-sm__background card-sm__background--3"></div>
		</div>			
		<div class="card-sm">
			<div class="card-sm__text">
				<h4 class="heading4">Midnight Denny's Runs</h4>
				<h4 class="heading4 u-color-gray">Whenever we want</h4>
				<p class="paragraph">Yup.</p>
			</div>
			<div class="card-sm__background card-sm__background--4"></div>
		</div>
	</div>
</section>

<section class="final-cta">
	<div class="final-cta__cta">
		<h2 class="heading2">What our residents have to say...</h2>		
		<p class="paragraph u-margin-bottom-md">We asked our residents what they thought about CoRE, totally adlibbed.</p>
		<button class="cta">Apply for 2019-2020</button>
	</div>
	<div class="final-cta__video-container">
		<iframe class="embedded-video" src="https://www.youtube-nocookie.com/embed/QH2-TGUlwu4?modestbranding=1&rel=0&disablekb=1" frameborder="0"></iframe>
	</div>
</section>
</main>

<% include partials/footer %>
