.u-color-primary {
  color: #29A8E0 !important; }

.u-color-primary-dark {
  color: #1C76BC !important; }

.u-color-white {
  color: white !important; }

.u-color-gray {
  color: gray !important; }

.u-margin-bottom-sm {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-md {
  margin-bottom: 4rem !important; }

.u-margin-bottom-lg {
  margin-bottom: 6rem !important; }

.u-margin-top-sm {
  margin-top: 1.5rem !important; }

.u-margin-top-md {
  margin-top: 4rem !important; }

.u-margin-top-lg {
  margin-top: 6rem !important; }

.u-padding-top-sm {
  padding-top: 1.5rem !important; }

.u-padding-top-md {
  padding-top: 4rem !important; }

.u-padding-top-lg {
  padding-top: 6rem !important; }

.u-padding-bottom-sm {
  padding-bottom: 1.5rem !important; }

.u-padding-bottom-md {
  padding-bottom: 4rem !important; }

.u-padding-bottom-lg {
  padding-bottom: 6rem !important; }

.u-txt-shadow {
  text-shadow: 2px 2px 4px #222 !important; }

html {
  font-size: 62.25%; }

body {
  box-sizing: border-box; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

@font-face {
  font-family: 'jost';
  src: url("../Jost-400-Book.ttf"); }

body {
  font-family: 'jost', sans-serif;
  line-height: 1.5;
  color: #222127; }

.heading1 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4.5rem;
  color: #ddd; }
  .heading1--secondary {
    color: #29A8E0; }

.heading2 {
  font-size: 3.4rem;
  font-weight: 400;
  letter-spacing: 4px; }

.heading3 {
  font-size: 2.2rem;
  font-weight: 400; }

.heading4 {
  font-size: 1.7rem;
  font-weight: 400; }

.paragraph {
  font-size: 1.6rem; }

.cta,
.cta:link,
.cta:visited {
  font-family: 'jost';
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 40rem;
  background-color: #29A8E0;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  transition: all .2s;
  border: none;
  cursor: pointer; }
  .cta:hover,
  .cta:link:hover,
  .cta:visited:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.card {
  height: 38rem;
  position: relative;
  margin: 3rem 0;
  overflow: hidden;
  border-radius: .4rem;
  color: white; }
  .card__text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    width: 30%;
    height: 100%; }
    .card__text--left {
      left: 3rem;
      text-align: left; }
    .card__text--right {
      right: 3rem;
      text-align: right; }
  .card__layer1 {
    position: absolute;
    z-index: 4;
    height: 100%;
    width: 100%; }
    .card__layer1--left {
      background-color: #00487C;
      clip-path: polygon(0 0, 48% 0, 32% 100%, 0 100%); }
    .card__layer1--right {
      background-color: #3E6680;
      clip-path: polygon(52% 0, 100% 0, 100% 100%, 68% 100%); }
    .card__layer1-drop-shadow {
      position: absolute;
      z-index: 3;
      filter: blur(5px);
      width: 100%;
      height: 100%; }
      .card__layer1-drop-shadow--left {
        left: .8rem;
        background-color: rgba(0, 72, 124, 0.5);
        clip-path: polygon(0 0, 48% 0, 32% 100%, 0 100%); }
      .card__layer1-drop-shadow--right {
        right: .8rem;
        background-color: rgba(62, 102, 128, 0.5);
        clip-path: polygon(52% 0, 100% 0, 100% 100%, 68% 100%); }
  .card__layer2 {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: transparent; }
    .card__layer2--left {
      clip-path: polygon(0 0, 50% 0, 40% 100%, 0 100%); }
    .card__layer2--right {
      clip-path: polygon(50% 0, 100% 0, 100% 100%, 60% 100%); }
  .card__background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover; }
    .card__background--1 {
      background-image: linear-gradient(to right bottom, rgba(0, 111, 192, 0.8), rgba(0, 72, 124, 0.5)), url(../img/corehacks.jpg); }
    .card__background--2 {
      background-image: linear-gradient(to left bottom, rgba(85, 138, 173, 0.8), rgba(62, 102, 128, 0.5)), url(../img/corelore.jpg); }
    .card__background--3 {
      background-image: linear-gradient(to left bottom, rgba(85, 138, 173, 0.8), rgba(62, 102, 128, 0.5)), url(../img/corebq.jpg); }

.card-sm-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 4rem; }
  .card-sm-container > .card-sm {
    flex-basis: calc(50% - 4rem);
    margin: 2rem; }

.card-sm {
  background-color: white;
  height: 14rem;
  width: 45%;
  position: relative;
  border-radius: 4px;
  overflow: hidden; }
  .card-sm__text {
    text-align: right;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    right: 6px; }
  .card-sm__background {
    background-color: limegreen;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 65% 0, 50% 100%, 0 100%); }

.embedded-video {
  width: 56rem;
  height: 31.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }

.footer {
  background-color: #444;
  height: 30rem;
  display: flex;
  align-items: center; }
  .footer__logo-box {
    flex: 1;
    display: flex;
    justify-content: center;
    border-right: solid #666 1px; }
  .footer__link, .footer__link:link, .footer__link:visited {
    font-size: 1.8rem;
    text-decoration: none;
    color: white; }
    .footer__link:not(:last-child), .footer__link:link:not(:last-child), .footer__link:visited:not(:last-child) {
      padding-right: .8rem; }
  .footer__content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }

.header {
  position: relative;
  height: 100vh; }
  .header__background {
    position: fixed;
    z-index: -1;
    background-image: url(../img/hero2.jpg);
    background-size: cover;
    background-position: 50% 10%;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    transform: scale(1.2); }
    .header__background::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(51, 51, 51, 0.9) 5%, rgba(41, 168, 224, 0.8) 100%); }
  .header__headings {
    position: absolute;
    left: 7rem;
    bottom: 7rem; }
  .header__cta-container {
    position: absolute;
    width: 50rem;
    right: 10rem;
    bottom: 8rem;
    color: #ccc;
    text-align: right; }

.nav {
  position: absolute;
  z-index: 1000;
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5.5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  text-align: center; }
  .nav__link:link, .nav__link:visited {
    color: white;
    padding: .6rem 0 .6rem 1rem;
    width: 18rem;
    font-size: 1.4rem;
    text-decoration: none;
    text-align: center; }
  .nav__link--button {
    border: 2px solid #29A8E0;
    border-radius: 2px;
    padding-left: 1rem; }
  .nav__logo {
    width: 30rem; }

.section-about {
  padding: 15rem 15rem;
  background-color: white;
  background-image: url(../img/geometry2.png);
  background-repeat: repeat; }

.about__container {
  display: flex; }

.about__texts {
  filter: drop-shadow(0 0 0.75em white); }

.about__images {
  flex-basis: 100%;
  position: relative; }

.about__photo {
  position: absolute;
  width: 60%;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  transition: all .2s;
  outline-offset: 2rem;
  border-radius: 2px; }
  .about__photo--1 {
    top: 15%;
    left: 50%; }
  .about__photo--2 {
    top: 30%;
    left: 35%; }
  .about__photo--3 {
    top: 45%;
    left: 20%; }
  .about__photo:hover {
    outline: 1.5rem solid #29A8E0;
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.2);
    z-index: 20; }
  .about__photo:hover .about__photo__photo:not(:hover) {
    transform: scale(0.95); }

.section-traditions {
  padding: 5rem 10rem 10rem 10rem;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(28, 118, 188, 0.8), rgba(10, 44, 70, 0.5)), url("../img/1262.jpg");
  background-repeat: repeat; }

.section-traditions-sub {
  margin-top: -5rem;
  text-align: center;
  background-color: white; }

.final-cta {
  height: 100vh;
  background-color: #0a2c46;
  display: flex;
  flex-direction: column; }
  .final-cta-container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 80%; }
    .final-cta-container > div {
      margin: 1rem; }
  .final-cta-text {
    text-align: center; }
